<div class="container-fluid">
	<div class="row">
		<div class="col offset-lg-2 col-lg-8">
			<h5>Backpropagation</h5>
		</div>
	</div>
	<!--div class="row">
		<div class="col offset-lg-2 col-lg-8">
			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm"><i>f(x,y)= ax + by + c</i></label>
				<label class="col-sm-4 col-form-label col-form-label-sm">Accuracy: <span id="accuracy"></span></label>
				<label class="col-sm-4 col-form-label col-form-label-sm">Iteration: <span id="iteration"></span></label>
			</div>
			<div class="form-group row">
				<label for="a" class="col-sm-3 col-form-label col-form-label-sm">a:</label>
				<div class="col-sm-3">
					<input type="text" class="form-control form-control-sm" id="a" value="1">
				</div>
			</div>
			<div class="form-group row">
				<label for="b" class="col-sm-3 col-form-label col-form-label-sm">b:</label>
				<div class="col-sm-3">
					<input type="text" class="form-control form-control-sm" id="b" value="-2">
				</div>
			</div>
			<div class="form-group row">
				<label for="c" class="col-sm-3 col-form-label col-form-label-sm">c:</label>
				<div class="col-sm-3">
					<input type="text" class="form-control form-control-sm" id="c" value="-1">
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col offset-lg-2 col-lg-8">
			<div class="form-group row">
				<label class="col-sm-6 col-form-label col-form-label-sm">input:</label>
				<label class="col-sm-3 col-form-label col-form-label-sm">output:</label>
				<label class="col-sm-3 col-form-label col-form-label-sm">expected output:</label>
			</div>

			<div class="form-group row">
				<div class="col-sm-3">
					<input type="text" class="form-control form-control-sm" id="input1" value="1.2">
				</div>
				<div class="col-sm-3">
					<input type="text" class="form-control form-control-sm" id="input2" value="0.7">
				</div>
				<div class="col-sm-3">
					<input type="text" class="form-control form-control-sm" id="output" readonly="readonly">
				</div>
				<div class="col-sm-3">
					<input type="text" class="form-control form-control-sm" id="expected_output" value="1">
				</div>
			</div>

			<button type="button" class="btn btn-primary" id="train_btn">Train 50 iterations</button>
			<button type="button" class="btn btn-primary" id="predict_btn">Predict</button>
		</div>
	</div-->
</div>