<div class="container-fluid">
	<div class="row">
		<div class="col col-lg-12">
			<h5>CNN activation maximizer</h5>
			Inspired by <a href="https://keras.io/examples/vision/visualizing_what_convnets_learn/" target="_blank">Visualizing what convnets learn</a> by <i>François Chollet</i>. First select a model to load, then click on <i>Generate input</i> button to generate a noisy input image. Hit <i>Start</i> button to visualize the maximum of each filter within the convolutional and pooling layers after the specified number of iterations.
		</div>
	</div>
	<div class="row">
		<div class="col col-lg-3">
			<div id="accordion">
				<!-- Model -->
				<div class="card">
					<div class="card-header" id="heading_model">
						<h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#collapse_model">Model</button>
						</h5>
					</div>

					<div id="collapse_model" class="collapse show" data-parent="#accordion">
						<div class="card-body">

							<label for="fps_selector">Model:</label>
							<select class="form-control" id="model_selector">
								<option></option>
								<option value="mnist_28x28">MNIST (725 kB)</option>
							</select><br/>

							<p id="model_description"></p>
						</div>
					</div>
				</div>

				<!-- Activation map -->
				<div class="card">
					<div class="card-header" id="heading_activation_map">
						<h5 class="mb-0">
							<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse_activation_map">Activation map</button>
						</h5>
					</div>

					<div id="collapse_activation_map" class="collapse" data-parent="#accordion">
						<div class="card-body">

							<p>
								<button id="generate_btn" type="button" class="btn btn-primary">Generate input</button>
							</p>
							<p>
								Number of iterations: <input id="iteration_counter" type="number" min="1" max="20" value="10"><br/>
								<button id="start_btn" type="button" class="btn btn-primary">Start</button>
								<button id="stop_btn" type="button" class="btn btn-primary">Stop</button>
							</p>
							
							
							<div class="progress" id="progress_bar">
								<div class="progress-bar" role="progressbar" style="width: 0%"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col col-lg-9" id="layer_container">
			<div class="card bg-light mb-3">
				<div class="card-header">Input image: <span id="input_image_header"></span></div>
				<div class="card-body">
					<p class="card-text">
						<!-- Grayscale canvas -->
						<canvas id="input_image"></canvas>

					</p>
				</div>
			</div>
		</div>
	</div>
</div>