<div class="container-fluid">
	<div class="row">
		<div class="col col-lg-12">
			<h5>Digit recognizer</h5>
			Draw a digit to the square of 28x28 pixels or click on any of the buttons below to show a nice digit of the MNIST dataset, then click on the <i>Recognize</i> button to feed the data of the drawn image to the convolutional network. The top 3 results will be shown below with the probability percentages. Click <i>Clear</i> button to clear the drawing board. The model was downloaded from <a href="https://github.com/keras-team/keras/blob/master/examples/mnist_cnn.py" target="_blank">mnist_cnn.py</a> and the trained model and weights were converted to <a href="https://js.tensorflow.org/" target="_blank">Tensorflow.js</a> format. The model has an accuracy of 98.96% and the size of the model and the weights are as little as 725 kB. The trained model is not capable to recognize shifted, tilted, rotated and distorted numbers.
		</div>
	</div>
	<div class="row">
		<div class="col col-lg-2">
			<h6>Properties</h6>
			<img src="<%= public_directory %>/img/ajax-loader.gif" class="ajax_loader">
			<button type="button" class="btn btn-primary" id="clear_btn">Clear</button>
			<button type="button" class="btn btn-primary" id="recognize_btn" disabled="disabled">Recognize</button>

			<h6>Presets</h6>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-secondary digit">0</button>
				<button type="button" class="btn btn-secondary digit">1</button>
				<button type="button" class="btn btn-secondary digit">2</button>
				<button type="button" class="btn btn-secondary digit">3</button>
				<button type="button" class="btn btn-secondary digit">4</button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-secondary digit">5</button>
				<button type="button" class="btn btn-secondary digit">6</button>
				<button type="button" class="btn btn-secondary digit">7</button>
				<button type="button" class="btn btn-secondary digit">8</button>
				<button type="button" class="btn btn-secondary digit">9</button>
			</div>

			<h6>Inference</h6>
			Inference time: <i id="inference_time"></i>
			<div id="inference"></div>
		</div>
		<div class="col col-lg-10">
			<div class="card bg-light mb-3">
				<div class="card-header">Input</div>
				<div class="card-body">
					<p class="card-text">
						<div id="canvas" style="position:relative;height:130px;width:130px"></div>
					</p>
				</div>
			</div>

			<div class="card bg-light mb-3">
				<div class="card-header">Convolutional layer 1<span></span></div>
				<div class="card-body">
					<p id="conv2d_1" class="card-text"></p>
				</div>
			</div>

			<div class="card bg-light mb-3">
				<div class="card-header">Max pooling layer 1<span></span></div>
				<div class="card-body">
					<p id="max_pooling2d_1" class="card-text"></p>
				</div>
			</div>

			<div class="card bg-light mb-3">
				<div class="card-header">Convolutional layer 2<span></span></div>
				<div class="card-body">
					<p id="conv2d_2" class="card-text"></p>
				</div>
			</div>
	
			<div class="card bg-light mb-3">
				<div class="card-header">Max pooling layer 2<span></span></div>
				<div class="card-body">
					<p id="max_pooling2d_2" class="card-text"></p>
				</div>
			</div>

			<div class="card bg-light mb-3">
				<div class="card-header">Flatten 1<span></span></div>
				<div class="card-body">
					<p id="flatten_1" class="card-text"></p>
				</div>
			</div>

			<div class="card bg-light mb-3">
				<div class="card-header">Dense 1<span></span></div>
				<div class="card-body">
					<p id="dense_1" class="card-text"></p>
				</div>
			</div>

			<div class="card bg-light mb-3">
				<div class="card-header">Dense 2<span></span></div>
				<div class="card-body">
					<p id="dense_2" class="card-text"></p>
				</div>
			</div>
		</div>
	</div>
</div>