<div class="container-fluid">
	<div class="row">
		<div class="col col-lg-12">
			<h5>Digit recognizer - Basic</h5>
			Draw a digit to the square of 28x28 pixels or click on any of the buttons below to show a nice digit of the MNIST dataset, then click on the <i>Recognize</i> button to feed the data of the drawn image to the convolutional network. The top 3 results will be shown below with the probability percentages. Click <i>Clear</i> button to clear the drawing board. The model was downloaded from <a href="https://github.com/keras-team/keras/blob/master/examples/mnist_cnn.py" target="_blank">mnist_cnn.py</a> and the trained model and weights were converted to <a href="https://js.tensorflow.org/" target="_blank">Tensorflow.js</a> format. The model has an accuracy of 98.96% and the size of the model and the weights are as little as 725 kB. The trained model is not capable to recognize shifted, tilted, rotated and distorted numbers.
		</div>
	</div>
	<div class="row">
		<div class="col col-lg-2">
			<h6>Properties</h6>
			<img src="<%= public_directory %>/img/ajax-loader.gif" class="ajax_loader">
			<button type="button" class="btn btn-primary" id="clear_btn">Clear</button>
			<button type="button" class="btn btn-primary" id="recognize_btn" disabled="disabled">Recognize</button>

			<h6>Presets</h6>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-secondary digit">0</button>
				<button type="button" class="btn btn-secondary digit">1</button>
				<button type="button" class="btn btn-secondary digit">2</button>
				<button type="button" class="btn btn-secondary digit">3</button>
				<button type="button" class="btn btn-secondary digit">4</button>
			</div>
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-secondary digit">5</button>
				<button type="button" class="btn btn-secondary digit">6</button>
				<button type="button" class="btn btn-secondary digit">7</button>
				<button type="button" class="btn btn-secondary digit">8</button>
				<button type="button" class="btn btn-secondary digit">9</button>
			</div>

			<h6>Result</h6>
			<div id="result"></div>
		</div>
		<div id="stage" class="col col-lg-10">
			<div id="canvas"></div>
		</div>
	</div>
</div>