<div class="container-fluid">
	<div class="row">
		<div class="col col-lg-12">
			<h5>Text learning capabilities of LSTM</h5>
			Paste some text into the training textbox or click either <i>Sample text</i> buttons to populate the training text textbox. Adjust the hyperparameters of the neural network (<i>input word counter</i>, <i>dimension of embedding</i>, <i>number of LSTM cells</i> and <i>number of epochs</i>), then click <i>train</i> button to start the training of the neural network. After the training is finished, type the input words to the <i>prediction input</i> field and click <i>predict</i> button. The number of input words should match with the number of <i>input word counter</i>.
		</div>
	</div>
	<div class="form-group row">
		<div class="col col-lg-4">
			<div id="accordion">
				<!-- Input -->
				<div class="accordion-item">
					<h2 class="accordion-header" id="heading_input">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_input">Training set</button>
					</h2>

					<div id="collapse_input" class="accordion-collapse collapse show" data-bs-parent="#accordion">
						<div class="accordion-body">
							<textarea type="text" class="form-control form-control-sm" id="training_set" rows="5"></textarea>

							<button class="btn btn-primary btn-sm" id="sample1_btn">Sample text 1</button>
							<button class="btn btn-primary btn-sm" id="sample2_btn">Sample text 2</button>
							<button class="btn btn-primary btn-sm" id="clear_btn">Clear</button>
						</div>
					</div>
				</div>

				<!-- Neural network hyperparameters -->
				<div class="accordion-item">
					<h2 class="accordion-header" id="heading_hyperparameters">
						<button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#collapse_hyperparameters">Hyperparameters</button>
					</h2>

					<div id="collapse_hyperparameters" class="accordion-collapse collapse" data-bs-parent="#accordion">
						<div class="accordion-body">

							<div class="form-group row">
								<label for="input_word_counter" class="col-sm-6 col-form-label">Input word counter:</label>
								<div class="col-sm-6">
									<input type="number" class="form-control" id="input_word_counter" min="2" max="10" value="3">
								</div>
							</div>

							<div class="form-group row">
								<label for="embedding_dimension" class="col-sm-6 col-form-label">Dimension of embedding:</label>
								<div class="col-sm-6">
									<input type="number" class="form-control" id="embedding_dimension" min="5" max="100" value="10">
								</div>
							</div>

							<div class="form-group row">
								<label for="lstm_cells" class="col-sm-6 col-form-label">Number of LSTM cells:</label>
								<div class="col-sm-6">
									<input type="number" class="form-control" id="lstm_cells" min="1" max="100" value="50">
								</div>
							</div>

							<div class="form-group row">
								<label for="epochs" class="col-sm-6 col-form-label">Number of epochs:</label>
								<div class="col-sm-6">
									<input type="number" class="form-control" id="epochs" min="1" max="1000" value="25">
								</div>
							</div>

							<button class="btn btn-primary btn-sm" id="train_btn">Train</button>

							<div class="form-group row">
								<div class="col-sm-12">
									<input type="text" class="form-control-plaintext" id="status" readonly>
								</div>
							</div>

						</div>
					</div>
				</div>

				<!-- Prediction -->
				<div class="accordion-item">
					<h2 class="accordion-header" id="heading_prediction">
						<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_prediction">Prediction</button>
					</h2>

					<div id="collapse_prediction" class="collapse" data-bs-parent="#accordion">
						<div class="accordion-body">

							<div class="form-group row">
								<label for="prediction_input" class="col-sm-4 col-form-label">Input:</label>
								<div class="col-sm-4">
									<input class="form-control" id="prediction_input" value="Jack and Jill">
								</div>
							</div>

							<div class="form-group row">
								<label class="col-sm-4 col-form-label" for="prediction_output">Output:</label>
								<div class="col-sm-4">
									<input class="form-control" id="prediction_output" readonly="readonly">
								</div>
							</div>

							<button class="btn btn-primary btn-sm" id="predict_btn">Predict</button>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col col-lg-8">
			<svg width="640" height="480"></svg>
		</div>
	</div>
</div>