<div class="container-fluid">
	<div class="row">
		<div class="col col-lg-12">
			<h5> k-Nearest Neighbor</h5>
			Generates cluster centers of different colors and some points around them. Colorize each pixel of the image according to the majority of the k-nearest neighbors. Click <i>regenerate</i> button to generate new cluster centers. Click <i>change</i> button to recolorize the pixels of the image.
		</div>
	</div>
	<div class="row">
		<div class="col col-lg-4">
			<div class="form-group row">
				<label for="num_class" class="col-sm-4 col-form-label col-form-label-sm">Number of classes:</label>
				<div class="col-sm-3">
					<input type="number" class="form-control form-control-sm" id="num_class">
				</div>
			</div>

			<div class="form-group row">
				<label for="num_items" class="col-sm-4 col-form-label col-form-label-sm">Number of items within classes:</label>
				<div class="col-sm-3">
					<input type="number" class="form-control form-control-sm" id="num_items">
				</div>
			</div>

			<div class="form-group row">
				<button type="button" class="btn btn-primary" id="regenerate_btn">Regenerate</button>
			</div>

			<div class="form-group row">
				<label for="num_neighbor" class="col-sm-4 col-form-label col-form-label-sm">Number of neighbors:</label>
				<div class="btn-toolbar col-sm-3">
					<input type="number" class="form-control form-control-sm" id="num_neighbor" min="1" max="10">
				</div>
			</div>

			<div class="form-group row">
				<button type="button" class="btn btn-primary" id="change_btn">Change</button>
			</div>
		</div>

		<div id="stage" class="col col-lg-8">
			<canvas id="canvas" width="<%= width*scale %>" height="<%= height*scale %>"></canvas>
		</div>
	</div>
</div>