<div class="container-fluid">
	<div class="row">
		<div class="col col-lg-12">
			<h5>Nearest Neighbor Image Classifier</h5>
			Finds similar images in <a href="https://www.cs.toronto.edu/~kriz/cifar.html" target="_blank">CIFAR-10</a> dataset using Nearest Neighbor Algorithm (L1 &amp; L2 distances). Click on any of the randomly selected images below to search for a visually similar image.
		</div>
	</div>
	<div class="row">
		<div class="col col-lg-4 left_pane">
			<div class="form-group row">
				<label for="master_image">Select from the images below to find a similar image for:</label>
				<p>
				<% _.each(images, function(item, key) { %>
					<img class="image_btn" data-id="<%= item %>" src="public/img/cifar-10/<%= item %>.png" crossorigin="Anonymous">
				<% }); %>
				</p>
			</div>
		</div>

		<div id="stage" class="col col-lg-8"></div>
	</div>
	<canvas id="canvas" style="display:none;"></canvas>
</div>