<div class="container-fluid">
	<div class="row">
		<div class="col col-lg-12">
			<h5>Pooling</h5>
			Click <i>Refresh</i> button to select a random digit from the MNIST train set, then apply max and average pooling filter on it. 
		</div>
	</div>
	<div class="row">
		<div class="col col-lg-2">
			<button type="button" class="btn btn-primary" id="refresh_btn">Refresh</button><br/>
		</div>
		<div id="stage" class="col col-lg-10">
			<p>
				Input digit from MNIST (28x28):
				<canvas id="input"></canvas>
			</p>

			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">&nbsp;</th>
						<th scope="col" colspan="2">Single (14x14)</th>
						<th scope="col" colspan="2">Double (7x7)</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Max pooling (spatial extent: 2, stride: 2)</td>
						<td><canvas id="output_2max14" class="digit"></canvas></td>
						<td><canvas id="output_2max14_big" width="140" height="140" style="border:1px solid #000000;"></canvas></td>
						<td><canvas id="output_2max7" class="digit"></canvas></td>
						<td><canvas id="output_2max7_big" width="70" height="70" style="border:1px solid #000000;"></canvas></td>
					</tr>
					<tr>
						<td>Average pooling (spatial extent: 2, stride: 2)</td>
						<td><canvas id="output_2avg14" class="digit"></canvas></td>
						<td><canvas id="output_2avg14_big" width="140" height="140" style="border:1px solid #000000;"></canvas></td>
						<td><canvas id="output_2avg7" class="digit"></canvas></td>
						<td><canvas id="output_2avg7_big" width="70" height="70" style="border:1px solid #000000;"></canvas></td>
					</tr>
					<tr>
						<td>Max pooling (spatial extent: 3, stride: 2)</td>
						<td><canvas id="output_3max14" class="digit"></canvas></td>
						<td><canvas id="output_3max14_big" width="120" height="120" style="border:1px solid #000000;"></canvas></td>
						<td><canvas id="output_3max7" class="digit"></canvas></td>
						<td><canvas id="output_3max7_big" width="70" height="40" style="border:1px solid #000000;"></canvas></td>
						
					</tr>
					<tr>
						<td>Average pooling (spatial extent: 3, stride: 2)</td>
						<td><canvas id="output_3avg14" class="digit"></canvas></td>
						<td><canvas id="output_3avg14_big" width="120" height="120" style="border:1px solid #000000;"></canvas></td>
						<td><canvas id="output_3avg7" class="digit"></canvas></td>
						<td><canvas id="output_3avg7_big" width="70" height="40" style="border:1px solid #000000;"></canvas></td>
					</tr>
				</tbody>
			</table>
			
			<canvas id="zoom" ></canvas>
		</div>
	</div>
</div>