<div class="container-fluid">
	<div class="row">
		<div class="col col-lg-12">
			<h5>VAE latent space visualizer</h5>
		</div>
	</div>
	<div class="row">
		<div class="col col-lg-3">
			<div id="accordion">
				<!-- Data source -->
				<div class="card">
					<div class="card-header" id="heading_trainset">
						<h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#collapse_trainset">Data source</button>
						</h5>
					</div>

					<div id="collapse_trainset" class="collapse show" data-parent="#accordion">
						<div class="card-body">
							<select class="form-control" id="model_selector">
								<option></option>
								<option value="mnist_100">MNIST (519 kB)</option>
								<option value="mnist_500">MNIST (2.53 MB)</option>
								<option value="mnist_5000">MNIST (25.3 MB)</option>
								<option value="mnist_all">MNIST (178 MB)</option>
							</select>
						</div>
					</div>
				</div>

				<!-- Model -->
				<div class="card">
					<div class="card-header" id="heading_model">
						<h5 class="mb-0">
							<button class="btn btn-link" data-toggle="collapse" data-target="#collapse_model">Model</button>
						</h5>
					</div>

					<div id="collapse_model" class="collapse" data-parent="#accordion">
						<div class="card-body">
							<button type="button" class="btn btn-primary" id="train_btn">Train</button>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col col-lg-9" id="layer_container">
		</div>
	</div>
</div>