<div class="container-fluid">
	<div class="row">
		<div class="col col-lg-12">
			<h5>Implementation of XOR gate</h5>
			XOR gate implemented by a neural network. Click <i>Weights and biases</i> button to edit the weight matrix and biases and view the value of the hidden layers. To calculate the output of the neural network, enter input values to the input fields and click <i>Submit</i> button. Hover any elements of the neural network to view its internal values.
		</div>
	</div>
	<div class="row">
		<div class="col col-lg-2 left_pane">
			<div class="form-group row">
				<label for="input_1" class="col-sm-4 col-form-label col-form-label-sm">input<sub>1</sub>:</label>
				<div class="col-sm-3">
					<input type="text" class="form-control form-control-sm" id="input_1" value="0">
				</div>
			</div>

			<div class="form-group row">
				<label for="input_2" class="col-sm-4 col-form-label col-form-label-sm">input<sub>2</sub>:</label>
				<div class="col-sm-3">
					<input type="text" class="form-control form-control-sm" id="input_2" value="1">
				</div>
			</div>

			<div class="form-group row">
				<label for="output" class="col-sm-4 col-form-label col-form-label-sm">output:</label>
				<div class="col-sm-6">
					<input type="text" readonly class="form-control-plaintext form-control-sm" id="output">
				</div>
			</div>

			<div class="collapse" id="matrix_properties">
				<div class="form-group row">
					<label class="col-sm-4 col-form-label col-form-label-sm">weight<sub>1</sub>:</label>
					<div class="col-sm-3">
						<input type="text" class="form-control form-control-sm" id="weight1_1_1" value="1">
					</div>
					<div class="col-sm-3">
						<input type="text" class="form-control form-control-sm" id="weight1_1_2" value="1">
					</div>
				</div>

				<div class="form-group row">
					<div class="offset-md-4 col-sm-3">
						<input type="text" class="form-control form-control-sm" id="weight1_2_1" value="1">
					</div>
					<div class="col-sm-3">
						<input type="text" class="form-control form-control-sm" id="weight1_2_2" value="1">
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label col-form-label-sm">bias<sub>1</sub>:</label>
					<div class="col-sm-3">
						<input type="text" class="form-control form-control-sm" id="bias1_1" value="0">
					</div>
					<div class="col-sm-3">
						<input type="text" class="form-control form-control-sm" id="bias1_2" value="-1">
					</div>
				</div>

				<div class="form-group row">
					<label for="hidden_1" class="col-sm-4 col-form-label col-form-label-sm">hidden<sub>1</sub>:</label>
					<div class="col-sm-6">
						<input type="text" readonly class="form-control-plaintext form-control-sm" id="hidden_1">
					</div>
				</div>

				<div class="form-group row">
					<label class="col-sm-4 col-form-label col-form-label-sm">weight<sub>2</sub>:</label>
					<div class="col-sm-3">
						<input type="text" class="form-control form-control-sm" id="weight2_1" value="1">
					</div>
				</div>

				<div class="form-group row">
					<div class="offset-md-4 col-sm-3">
						<input type="text" class="form-control form-control-sm" id="weight2_2" value="-2">
					</div>
				</div>

				<div class="form-group row">
					<label for="hidden_2" class="col-sm-4 col-form-label col-form-label-sm">hidden<sub>2</sub>:</label>
					<div class="col-sm-6">
						<input type="text" readonly class="form-control-plaintext form-control-sm" id="hidden_2">
					</div>
				</div>
			</div>

			<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#matrix_properties">Weights & biases</button>
			<button type="submit" class="btn btn-primary" id="submit_btn">Submit</button>
		</div>
		<div id="stage" class="col col-lg-10"></div>
	</div>
</div>